@font-face {
  font-family: 'Lacuna';
  src: url('./../fonts/lacuna-webfont.woff');
}

body {
  font: 16pt 'Lacuna';
}

#workingArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brandName {
  margin: 10px;
}

@keyframes fade {
  100% { opacity: 0 }
  0% { opacity: 1 }
}

.flashMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 5s linear;
}

.argument {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ifInput:focus {
  background: #fbe0e4;
}
.thenInput:focus {
  background: pink;
}
.ifInput {
  margin-left: 5px;
  padding: 7px;
}

.thenInput {
  margin-left: 5px;
  padding: 7px;
}

/* Palette URL: http://paletton.com/#uid=13Z0u0kllllaFw0g0qFqFg0w0aF */
.color-primary-0 { color: #333577 }	/* Main Primary color */
.color-primary-1 { color: #7F81B2 }
.color-primary-2 { color: #555794 }
.color-primary-3 { color: #1A1B59 }
.color-primary-4 { color: #090A3B }

.submitArgument {
  display: inline-block;
  color: #fff;
  background-color: #1A1B59;
  border: none;
  margin: 5px;
  padding: 5px;
  width: 26px;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0;
  align-self: flex-end;
}
